.accordion {
  background-color: white;
  cursor: pointer;
  padding: 14px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;

  &:hover {
    color: rgb(166, 219, 136);
  }
}

.active {
  color: rgb(166, 219, 136);
}

/* Style the accordion panel. Note: hidden by default */
.penjelasan {
  font-size: 13px;
  text-align: justify;
  padding: 0 0 0 32px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.image-wrapper {
  overflow: hidden;
  border-radius: 20px;
}

.inner-image {
  vertical-align: middle;
  transition: 1s;
  width: 100%;

  &:hover {
    transform: scale(1.1);
  }
}

.peran-content {
  font-size: 15px;
}
.peran-text {
  font-size: 14px;
}
