.image-center-mobile {
  width: 200px;
}
.level {
}

@media only screen and (max-width: 600px) {
  .text-center-mobile {
    text-align: center;
  }
  .image-center-mobile {
    width: 150px;
  }

  .image-pos {
    justify-content: center;
  }
}
