.title {
  color: #363636;
  padding: 1px auto;
}

.about {
  padding: 10px 0px;
  text-align: justify;
}

#tentang-masjid {
  background-color: #f2ffef;
  padding-bottom: 130px;
  padding-top: 250px;
}

@media only screen and (max-width: 600px) {
  .about,
  .title {
    text-align: center;
  }
}
