.button {
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.1);
  }
}

.donasi {
  border: none;
  background-image: linear-gradient(to right, #89216b, #da4453);
}

.prs {
  border: none;
  background-image: linear-gradient(to right, #11998e, #38ef7d);
}
