.navbar-item {
  color: black;
  cursor: pointer;
}
.background {
  background: url("./img/winterCamp.JPG");
  background-size: cover;
  filter: grayscale(100%);
  background-position: left bottom;
  height: 25rem;
  color: aliceblue;
}
.list-image {
  list-style-image: url("./img/verified.png");
}
.navbar.is-transparent {
  background-color: transparent;
  background-image: none;
}
