//custom bulma
@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Cardo|Roboto:400,700');
// Set your brand colors

// Update Bulma's global variables
$family-sans-serif: "Roboto", sans-serif;
$card-shadow: none;
$table-cell-border: none;
$table-cell-padding:0 10px 0 0;
.title{
	font-family: 'Cardo', serif;
	font-weight: normal;
}
@import 'bulma/bulma.sass';

.bigtitle{
	font-family: 'Cardo', serif;
}

.bigtitle.is-1{
	font-family: 'Cardo', serif;
	font-size: 5em;
}

*{
  transition: all 350ms ease;
}

// body {
//   background: linear-gradient(45deg, #00d2ff 0%, #3a47d5 100%) no-repeat;
//   background-size: cover;
// }

.navbar {
  padding:0 5px;
}


.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.wave-background{
	background:  url("./img/background-wave.svg") repeat-x;
	background-position: left bottom;
}

.footer-wave-background{
	background:  url("./img/footer-background-wave.svg") repeat-x;
	background-position: left top;
}

@media screen and (max-width: 768px){

}
