//custom bulma
@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Hind+Madurai:700|Roboto');
// Set your brand colors

// Update Bulma's global variables
a img {     border: 0; }
$family-sans-serif: 'Roboto', serif;
$card-shadow: none;
$table-cell-border: none;
$table-cell-padding:0 10px 0 0;
$modal-content-width: 90%;
$link: hsl(0, 0%, 48%);
$link-hover: hsl(348, 100%, 61%);
.title{
	font-family: 'Hind Madurai', sans-serif;
	font-weight: normal;
}


@import 'bulma/bulma.sass';

.center-spinner{
  position: absolute;
	left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.underlined-text-green,.underlined-text-orange,.underlined-text-yellow,.underlined-text-blue{
  text-decoration: none;
  position: relative;
}

.underlined-text-green:after{
  position: absolute;
  content: '';
  height: 12px;
  bottom: 10px;
  z-index: -1;

  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  background: #38f9d7;
  transition: .5s;

}

.underlined-text-orange:after{
  position: absolute;
  content: '';
  height: 12px;
  bottom: 10px;
  z-index: -1;

  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  background: #fda085;
  transition: .5s;

}

.underlined-text-yellow:after{
  position: absolute;
  content: '';
  height: 12px;
  bottom: -1px;
  z-index: -1;

  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  background: #d4fc79;
  transition: .5s;

}

.underlined-text-blue:after{
  position: absolute;
  content: '';
  height: 12px;
  bottom: -1px;
  z-index: -1;

  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  background: #a1c4fd;
  transition: .5s;

}


.bigtitle, .is-size-3,.is-size-2, .is-size-4{
	font-family: 'Hind Madurai', sans-serif;
}

.bigtitle.is-1{
	font-family: 'Hind Madurai', sans-serif;
	font-size: 5em;
}

*{
  transition: all 200ms ease;
}

a {
    display: block;
}

// body {
//   background: linear-gradient(45deg, #00d2ff 0%, #3a47d5 100%) no-repeat;
//   background-size: cover;
// }


.navbar {
  padding:0 5px;
}


.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.wave-background{
	background:  url("./img/background-wave.svg") repeat-x;
	background-position: left bottom;
}

.footer-wave-background{
	background:  url("./img/footer-background-wave.svg") repeat-x;
	background-position: left top;
}

@media screen and (max-width: 768px){

}
