.navbar-item {
  color: black;
  cursor: pointer;
}

.navbar.is-transparent {
  background-color: transparent;
  background-image: none;
}

.parallax {
  /* The image used */
  background-image: url("./img/heroImage.JPG");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.text {
  font-size: 14px;
}
.text-small {
  font-size: 12px;
}
